$teaser-height: 350px;

.page-template-front-page {
  .frontpage-top {
    margin: 40px 0;

    .left {
      @include span-columns(8);

      > div {
        width: 100%;
        background-color: #555;
        height: $teaser-height * 2 + 30px;
      }
    }

    .right {
      @include span-columns(4);

      @include omega;

      > div {
        width: 100%;
        height: $teaser-height;
        margin-bottom: 30px;
        background-color: grey;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .frontpage-articles {
    margin: 40px 0;
  }

  .frontpage-guides {
    margin: 40px 0;
  }

  .section-title {
    display: block;

    @include clearfix;
  }

  .see-all {
    float: right;
    display: block;
  }
}

.inner {
  @include outer-container;
}

.teaser-wrapper {
  .post-teaser {
    @include span-columns(3);

    position: relative;

    @include omega(4n);

    height: $teaser-height;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
    color: #333;
    text-decoration: none;
    display: block;

    img {
      width: 100%;
      height: auto;
    }

    .label {
      position: absolute;
      left: -20px;
      border-radius: 100px;
      width: 80px;
      height: 80px;
      top: -20px;
      padding: 5px;
      background-color: #333;
      color: white;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #348F50;
      background: -webkit-linear-gradient(to left, #348F50, #56B4D3);
      background: linear-gradient(to left, #348F50, #56B4D3);
      opacity: 0.1;
      user-select: none;
    }
  }
}

article.type-post {
  @include outer-container(960px);

  letter-spacing: 0.02rem;
  font-weight: 300;

  img {
    padding: 15px;
  }
}

.highlighted {
  @include outer-container(960px);

  background-color: #ccc;
  padding: 30px 20px;
  margin: 40px auto;
}

.entry-title {
  display: block;
  max-width: 960px;
  padding-right: 320px;
  font-size: 90px;
  line-height: 90px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: bold;
  color: black;
  letter-spacing: -0.1rem;
}

.top-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 520px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  margin-top: 0 !important;
}
